.login-container {
    position: absolute;
    background-color: #ededed;
    overflow: auto;
    height: 100%;
    width: 100%;
    background-image: url("../images/Aatrox_Splash_1.jpg");
    background-size: cover;
}

.login-header {
    background-color: #006666;
    box-shadow: 0 3px 3px #666666;
    z-index: 1;
    height: 50px;
}

.nav-list {
    text-align: center;
    cursor: pointer;
    padding-top: 15px;
    width: 100px;
}

.nav-list:hover {
    background-color: #009900;
}

/* override */
.modal-content {
    height: 500px;
    background: rgba(255,255,255,0.3);
    -webkit-animation: modal-glow 2.5s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes modal-glow {
    0% {
        box-shadow: 0 0 20px #e0f000;
    }
    50% {
        box-shadow: 0 0 20px #888888;
    }
    100% {
        box-shadow: 0 0 20px #e0f000;
    }
}

.login-modal {
    background: transparent;
}